@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Urbanist", sans-serif;
  background: #fafafa;
}

@theme {
  --color-primary: #22c55e;
  --color-dark2: #718096;
  --color-dark3: #e2e8f0;
  --color-dark4: #fafafa;
  --color-dark5: #f7fafc;
}

@layer {
  .noScrollBar::-webkit-scrollbar {
    display: none;
  }
}

.visaCardPagination {
  --swiper-pagination-color: gray;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: -0px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
